* {
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
}
body{
    margin: 0;
    overflow:scroll;
}
.title{
    margin-left: 20px;
    margin-right: 850px;
    font-size: 56px;
}

form{
    background-color: rgba(125,200,220, .4);
    border: 1px solid black;
}

#hero{

    width: 100%;
    height: 500px;
}

.nav{
    
    display: flex;
    justify-content: flex-end;
    
}

.navList{
    position: relative;
    top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute ;
    

}
.listItem{
    margin: 15px;
    text-transform: uppercase;
}
.social{
    width: 30px;
    
}
#description{
    position: absolute;
    font-size: 36px;
    width: 300px;
    left: 800px;
    margin-top: 150px;

}

#nav-title-wrapper{
    display: flex;
    border: 1px solid yellow;
}

#storePhoto{
    margin: 15px;
    width: 500px;
    height: 700px;

}
